# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Database
*.db

# Large datasets
*.csv
*.xlsx
*.zip

# Environment variables
.env